body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /* Modern font */
  background: linear-gradient(135deg, #030129, #0e327a, #17a3f9, #c0eaff);

  background-size: 400% 400%; /* Smooth gradient animation */

  color: #ffffff; /* White text for contrast */
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
}
