.container {
  margin-top: 200px;
  margin-left: 150px;
  min-height: 200px;
  width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
}

.container input {
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 30px;
  width: 80%;
}

.container input::placeholder {
  align-self: center;
  color: rgba(255, 255, 255, 0.639); /* Set placeholder font color */
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.airdrop-btn {
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 12px 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.airdrop-btn:hover {
  background-color: rgba(0, 128, 0, 1);
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .container {
    margin-top: 100px;
    position: relative;
    right: 80px;
    width: 90%;
    padding: 15px;
  }

  .container input {
    font-size: 16px;

    height: 25px;
  }

  .container input::placeholder {
    font-size: 16px;
  }

  .airdrop-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 50px;
    margin-left: 10px;
    padding: 10px;
  }

  .container input {
    font-size: 14px;
    height: 20px;
  }

  .container input::placeholder {
    font-size: 14px;
  }

  .airdrop-btn {
    font-size: 14px;
    padding: 8px 10px;
  }
}
